<html>
    <head>
        <title>Laksh_v2 - Your Emotional Companion</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="head">
            <span>
            <img src="laksh.png" style="width: 50px; height: 50px;border-radius: 60%;">
        <h1>Laksh V2</h1></span>
        <p>Your Emotional companion who tries to understand what you feel 💖
        </p>
        </div>
        <div class="chat-box">
            <div class="chat-top">
            <h2 style="text-align: left;padding-left: 10px;height: 10px;">Laksh v2</h1>
                <div class="emotion">
                    <b><p>You are feeling :</p></b>
                    <img src="happy.jpg" alt="Happy">
                </div>
                </div>
                <div class="msg">
                    <input type="text" placeholder="type your message..." class="chat-input"/>
                    <button class="send-btn">Send</button>
                </div>
                
        </div>

    </body>
</html>