body{
    background: linear-gradient(25deg,#64ead3,white);
}
.head{
    text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.chat-box{
    background: white;
    border-radius: 25px;
    width: 75%;
    height:75%;
    margin: 0 auto;

}
.chat-top{
    margin: 0 auto;
    display: flex;
    gap:100px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.head span{
    font-size: 20px;
    display: flex;
    gap: 50px;
    text-align: center;
}
.emotion{
    display: flex;
    width: 200px;

 }
.emotion img{
    width:50px;
    height:50px;
    border-radius: 50%;
    border-color: bisque;

}
.msg{
    background: linear-gradient(40deg,white,rgb(149, 236, 249));
    width: 75%;
    height: 75%;
    border-radius: 25px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.msg input{
    margin-top:40%;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
    height: 30px;
    width: 50%;

}

.msg button{
    margin-top:40%;
    color: rgb(16, 16, 16);
    background-color: rgb(187, 255, 252);
    border: none;
    height: 30px;
    
}